body{
    background: #EFE1B5;
    margin:0; /*butangan nako 0 margin para ma kuha ang full screen ka browser*/
    height:100%
}
.dashbody{
    width:100%;
    height:100vh; /*gamit ko vh para magamit ang fullscreen*/
    display:flex                                                                                                                                                                                    ;
}
.dashleft{
    height: 100%;
    width: 20%;
    border-right:1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.dashright{
    height: 100%;
    width: 80%;
    border-left:1px solid black;
}
.adminname{
    position:relative;
    text-align:left;
    padding-left:15px;
    
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0; /*always do these if gusto nako mag fully occupy ang space*/
    width:100%;
}
li{
    display:block;
    font-size:25px;
    padding-bottom:10px;
    font-weight:bold;
    width:100%;
}
li:hover{
background-color: E3D0A1;
transition: 0.5s;
}
a{
    text-decoration:none; /*if naka href wala sya underline*/
    color:inherit; /*para ma stay sya sa color ka parent which is dashleft pr default*/
}

footer{
    margin-top:auto; /*automatically gna butang sa dalom*/
    width:100%;
    cursor:pointer;
    font-weight:bold;
    display:flex; /*also flex is good for aligning items properly*/
    padding-bottom:10px;
    align-items: center;
    justify-content:center;
    gap:10px; /*instead of padding pra may gap, use gap instead*/
}
footer:hover{
    color:red;
}
footer img{
height:20px;
width:auto;
display:block;
}

