body{
    background: #EFE1B5;
}
.dashbody{
    width:100%;
    height:100%;
    display:flex                                                                                                                                                                                    ;
}
.dashleft{
    height: 100%;
    width: 20%;
    border-right:1px solid black;
    text-align: center;
}
.dashright{
    height: 100%;
    width: 80%;
    border-left:1px solid black;
}
.adminname{
    position:relative;
    
}

